.page {
    max-width: 1600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-view {
    max-width: 1100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.header__logo {
    width: 139px;
    height: 25px;
    margin-right: 146px;
}

.button {
    padding: 0;
    margin: 0;
    border: none;
}

.header__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 45px;
    margin-right: 176px;
}

.header__menu-item {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 2%;
}

.header__menu-item_type_active {
    color: rgba(110, 156, 159, 1);
    font-weight: 700;
}

.header__phone {
    display: flex;
    gap: 15px;
    margin-right: 67px;
    align-items: center;
}

.first-view__content {
    display: flex;
    align-items: center;
}

.first-view__main-photo {
    width: 410px;
    height: 646px;
    position: absolute;
    z-index: 0;
    right: 255px;
}

.first-view__sub-photo {
    z-index: 1;
}

.first-view__sub-photo_type_left {
    width: 190px;
    height: 318px;
    position: relative;
    right: 150px;
    top: 395px;
}


.first-view__sub-photo_type_right {
    width: 197px;
    height: 197px;
}

.first-view__rectangle {
    width: 705px;
    height: 826px;
    background-image: url(./images/background-for-photos.svg);
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}